.message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.message span {
    font-size: 10vw;
}

.miss {
    background: rgba(255, 0, 0, 0.25);
}

.hit {
    background: rgba(0, 255, 0, 0.25);
}

.fail {
    background: rgba(8, 145, 178, 0.25);
}

.manual {
    background: rgba(255, 255, 255, 0.25);
}