.game {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.players {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.player > * {
  margin: 0;
}
.player h1 {
  font-size: 6rem;
 }

.player p {
  font-size: 4rem;
}

.player-0 {
  color: #166534;
}
.player-0 p {
  color: #16a34a;
}
.player-1 {
  color: #155e75;
}
.player-1 p {
    color: #1e7f9f;
}
.player-2 {
  color: #3730a3;
}
.player-2 p {
  color: #4f46e5;
}
.player-3 h1 {
  color: #881337;
}
.player-3 p {
  color: #be123c;
}

.out-of-game {
  color: gray !important;
  text-decoration: line-through;
}